body {
	font-family: "Lucida Grande", "Droid Sans", "Calibri", "Bitstream Vera Sans", "DejaVu Sans", sans-serif;
	padding: 0;
	margin: 0;
	background-color: #fff2d6;
	color: #222;
}

div#container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	width: 700px;
	max-width: 100%;
}

h1, h2 {
	font-family: "Bree Serif", "Lucida Grande", "Droid Sans", "Calibri", "Bitstream Vera Sans", "DejaVu Sans", sans-serif;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 28px;
}

.clearfix {
	overflow: auto;
}

.x2Letter {
	background-color: #f2ffe1;
}

.x2Word {
	background-color: #dbffab;
}

.x3Letter {
	background-color: #e7fbf8;
}

.x3Word {
	background-color: #a7fbee;
}

/* Instructions styles */

section#instructions {
	overflow: auto;
	vertical-align: top;
}

section#instructions p:first-child {
	margin-top: 0;
}

section#instructions span.key {
	padding-left: 3px;
	padding-right: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #aaa;
	border-radius: 4px;
}

ul#modifierList {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul#modifierList li {
	display: inline-block;
	margin-top: 5px;
}

ul#modifierList span {
	display: inline-block;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #aaa;
	border-radius: 4px;
}

/* Board styles */

form#board {
	float: left;
	margin-right: 20px;
}

input {
	font-size: 22px;
	font-weight: bold;
	color: #555;
	height: 44px;
	width: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #aaa;
	border-radius: 4px;
	background-color: white;
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 25%);
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 25%);
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 25%);
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 25%);
	text-align: center;
}

input:focus {
	-moz-box-shadow: 0 0 5px 1px #aaa;
	-webkit-box-shadow:0 0 5px 1px #aaa;
	box-shadow: 0 0 5px 1px #aaa;
}

input.submit {
	width: 100%;
	border-width: 1px;
	background: -moz-linear-gradient(top, #777, #555);
	background: -ms-linear-gradient(top, #777, #555);
	background: -webkit-linear-gradient(top, #777, #555);
	background: linear-gradient(top, #777, #555);
	color: #fff;
}

input.submit:active {
	background: -moz-linear-gradient(top, #555, #777);
	background: -ms-linear-gradient(top, #555, #777);
	background: -webkit-linear-gradient(top, #555, #777);
	background: linear-gradient(top, #555, #777);
}

/* Solution styles */

section#solutions {
	margin-top: 50px;
}

ul#solutionList {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul#solutionList li {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 40px;
}

a.word {
	font-weight: bold;
	text-decoration: none;
	color: #222;
}

a.word:hover {
	text-decoration: underline;
}

span.score {
	font-weight:bold;
	color: #999;
}

div.gradientContainer {
	margin-top: 5px;
}

table.solutionBoard {
	overflow: hidden;
	position: static;
	color: #555;
	border-spacing: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #aaa;
	border-radius: 4px;
	background-color: white;
	text-align: center;
	z-index: 1;
}

table.solutionBoard td {
	font-size: 14px;
	font-weight: bold;
	height: 28px;
	width: 28px;
	padding: 0;
	margin: 0;
}

table.solutionBoard td.inSolution {
	background-color: #ffabab;
}

div.solutionGradient {
	position: absolute;
	height: 114px;
	width: 114px;
	border-width: 0;
	border-radius: 4px;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 25%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 25%);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 25%);
	background: linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 25%);
	z-index: 2;
}
